@define-color noti-bg rgba(239, 241, 245, 0.88);
@define-color noti-bg-hover rgb(230, 233, 239);
@define-color noti-close-bg rgb(204, 208, 218);
@define-color noti-fg rgb(76, 79, 105);
@define-color cc-bg rgba(230, 233, 239, 0.77);
@define-color cc-button-bg-hover rgb(204, 208, 218);
@define-color cc-button-bg-checked rgb(30, 102, 245);
@define-color cc-fg rgb(92, 95, 119);

* {
    font-family: 'Roboto';
}

.notification-row {
    outline: none;
}

.notification-row:focus, 
.notification-row:hover {
    background-color: @noti-bg;
}

.close-button {
    background-color: @noti-bg;
    color: @noti-fg;
}

.close-button:hover {
    background-color: @noti-bg-hover;
    color: @noti-fg;
}

.notification {
    background-color: @noti-bg;
    padding: 8px;
}

.notification-default-action,
.notification-action {
    background: transparent;
}

.notification-default-action:hover {
    -gtk-icon-effect: none;
    background: transparent;
}

.notification-action {
    padding: 0;
    color: @noti-fg;
}

.notification-action:hover {
    background-color: @noti-bg-hover;
}

.notification-content {
    background: transparent;
    padding: 8px;
    border-radius: 12px;
}

.summary,
.body,
.time {
    color: @noti-fg;
    padding: 2px 8px;
}

.summary {
    font-size: 18px;
}

.body {
    font-size: 16px;
}

.control-center {
    background-color: @cc-bg;
    border-radius: 0;
}

.control-center-list-placeholder {
    color: @cc-fg;
}

.control-center-list {
    padding: 8px;
}

.control-center .control-center-list .notification {
    box-shadow: none;
}

.floating-notifications {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.widget-mpris {
    box-shadow: none;
}

.widget-mpris .widget-mpris-player {
    padding: 8px 12px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.widget-mpris .widget-mpris-player button:hover {

}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    margin-top: 12px;
    box-shadow: none;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: 600;
    font-size: 20px;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-weight: 400;
    font-size: 16px;
}

.widget-mpris .widget-mpris-player > box > button {
    color: @noti-bg;
}

.widget-mpris .widget-mpris-player > box > button:hover {
    
}

.widget-mpris > box > button {

}

.widget-mpris > box > button:disabled {
  
}

.widget-buttons-grid {
    background-color: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    transition: all 0.25s cubic-bezier(0.2, 0.0, 0, 1.0);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: @cc-button-bg-hover;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background-color: @cc-button-bg-checked;
    color: white;
}

.widget-menubar > box > .menu-button-bar > .text-button {
    border-radius: 0;
}